<%- include('header.ejs') %>
<!-- Navbar -->
<header class="p-3 text-bg shadow-lg mb-5" style="background-color: #F9F3D3;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
       <img src="assets/logo.svg" alt="">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-dark">Home</a></li>
        <li><a href="/mybooks" class="nav-link px-2 text-dark">My Books</a></li>
        <li><a href="#" class="nav-link px-2 text-dark">About</a></li>
      </ul>

      <form class="col-8 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/search" method="post" role="search">
        <input type="search" name="searchTitle" class="form-control form-control-light text-bg-light" placeholder="Search..." aria-label="Search">
      </form>

      <div class="col text-end">
        <a href="/logout" type="button" id="logout" class="btn btn-danger">Log Out</a>
      </div>
    </div>
  </div>
</header>