<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Notes</title>
  <link rel="stylesheet" href="signin.css">
</head>
<body>
  <div class="wrapper">
    <form action="/login" method="post">
      <h2>Sign In</h2>
        <div class="input-field">
        <input type="text" autocomplete="off" name="username" required>
        <label>Enter your email</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" required>
        <label>Enter your password</label>
      </div>
      <!-- <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div> -->
      <button type="submit">Sign In</button>
      <a class="butt" type="button" href="/auth/google"><img src="assets/google.png" alt="">Sign in using Google</a>
      <div class="register">
        <p>Don't have an account? <a style="color: black;" href="/signup">Register</a></p>
      </div>
    </form>
  </div>
</body>
</html>